.header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    margin: 1rem;
    gap: 2rem;
}

.header-logo {
    height: 100px;
    width: auto;
}

.header-title {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: clamp(64px, 4vw, 32px);
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin-right: 100px;
}
