<div class="main-wrapper mat-elevation-z2">
    <mat-card appearance="outlined" class="d-flex flex-column file-upload">
        <mat-card-title class="p-2">
            {{ analysisResult ? 'Analiza anty-AI' : 'Dodaj plik, aby wykonać analizę anty-AI:' }}
        </mat-card-title>
        <mat-card-content class="justify-content-around">
            
            <input
                #fileUpload
                (change)="onFileSelected($event)"
                [accept]="requiredFileType"
                hidden
                type="file"
            />
            
            <div class="d-flex align-items-center justify-content-between my-3">
                <span>{{ fileName || 'Wybierz plik do analizy.' }}</span>
                
                <button
                        *ngIf="canSelectNewFile"
                        (click)="fileUpload.click()"
                        color="primary"
                        mat-mini-fab
                        matTooltip="Wybierz plik PDF"
                >
                    <mat-icon>attach_file</mat-icon>
                </button>
                <button
                        (click)="cancelUpload()"
                        *ngIf="!canSelectNewFile"
                        color="warn"
                        mat-mini-fab
                        matTooltip="Anuluj"
                >
                    <mat-icon>delete_forever</mat-icon>
                </button>

            </div>
            <div class="d-flex flex-column" *ngIf="(!analysisResult || analysisResult === '') && !canSelectNewFile">
                <div class="d-flex flex-row justify-content-between">
                    <mat-progress-bar
                            *ngIf="uploadProgress > 0"
                            [value]="uploadProgress"
                            class="my-progress-bar"
                            mode="determinate"
                    ></mat-progress-bar>
                    
                </div>
                <div *ngIf="uploadProgress === 0" class="text-center mt-3">
                    <button (click)="analyzeFile()" [disabled]="!fileName" class="rounded-fab" color="primary" extended
                            mat-fab>
                        <mat-icon class="me-2">search</mat-icon>
                        Wykonaj analizę
                    </button>
                </div>
            </div>
            
            <div class="d-flex justify-content-start" *ngIf="analysisResult && analysisResult !== '' && canSelectNewFile">
                {{analysisResult}}
            </div>
            <div *ngIf="analysisResult && analysisResult !== ''" class="d-flex flex-row justify-content-around mt-3">
                <button (click)="setDefaultValues()" [disabled]="!fileName" class="rounded-mini-fab m-3" color="primary" extended
                        mat-fab>
                    <mat-icon class="me-2">search</mat-icon>
                    Wykonaj kolejną analizę
                </button>
                <button (click)="showFullReport()" [disabled]="!fileName" class="rounded-mini-fab m-3" color="secondary" extended
                        mat-fab>
                    <mat-icon class="me-2">search</mat-icon>
                    Wyświetl pełen raport
                </button>
            </div>

        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="fullReport" appearance="outlined" class="d-flex flex-column file-upload mt-4">
        <mat-card-title>Pełen raport</mat-card-title>
        <mat-card-content>
            <pre style="white-space: pre-wrap">{{ fullReport }}</pre>
        </mat-card-content>
    </mat-card>
</div>