<div class="main-wrapper mat-elevation-z2">
    <mat-card class="d-flex flex-column" appearance="outlined">
        <mat-card-title class="p-2">Analiza PDF</mat-card-title>
        <mat-card-content class="justify-content-around">
            
            <input
                    type="file"
                    hidden
                    [accept]="requiredFileType"
                    (change)="onFileSelected($event)"
                    #fileUpload
            />
            
            <div class="d-flex align-items-center justify-content-between my-3">
                <span>{{ fileName || 'Nie wybrano pliku.' }}</span>
                
                <button
                        mat-mini-fab
                        color="primary"
                        matTooltip="Wybierz plik PDF"
                        (click)="fileUpload.click()"
                >
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>
            
            <mat-progress-bar
                    mode="determinate"
                    *ngIf="uploadProgress"
                    [value]="uploadProgress"
                    class="mb-3"
            ></mat-progress-bar>
            
            <button
                    mat-mini-fab
                    color="warn"
                    *ngIf="uploadProgress"
                    matTooltip="Anuluj"
                    (click)="cancelUpload()"
            >
                <mat-icon>delete_forever</mat-icon>
            </button>
        
        </mat-card-content>
    </mat-card>
</div>
