
.about-wrapper {
    position: relative;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
    max-width: 600px;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
}

.card-main {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.card-main-inner {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    font-size: clamp(14px, 2vw, 20px);
    font-weight: lighter;
    color: #000000 !important;
}

.card-content {
    font-width: lighter;
    font-size: clamp(13px, 2vw, 16px);
}